<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>womply-icon-64.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.erikphansen.LaunchBar.action.MLIDs</string>
	<key>CFBundleName</key>
	<string>MLIDs</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Erik P. Hansen</string>
		<key>LBEmail</key>
		<string>eph@erikphansen.com</string>
		<key>LBResult</key>
		<string>Pastes a merchant slug or ID</string>
		<key>LBSummary</key>
		<string>Shows a list of common merchants for both local testing and prod testing.</string>
		<key>LBTwitter</key>
		<string>@eirkeirkeirk</string>
		<key>LBWebsiteURL</key>
		<string>http://blog.erikphansen.com</string>
	</dict>
	<key>LBResult</key>
	<string>Pastes a merchant slug or ID</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
